@tailwind base;
@tailwind components;
@tailwind utilities;

.flipped .front,
.flipped .back{
    transform: rotateY(-180deg);
}

.paper{
    perspective: 1500px;
}

.front{
    backface-visibility: hidden;
    border-left: 3px solid #66b4df;
}
.back-content{
    transform: rotateY(180deg);
}