@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: IRANSans;
    src: url("./../assets/fonts/IRANSans/IRANSans.ttf");
  }

.persian{
    font-family: IRANSans;
}

body{
    background-color: black;
}

.flipped .front,
.flipped .back{
    transform: rotateY(-180deg);
}

.paper{
    perspective: 1500px;
}

.front{
    backface-visibility: hidden;
    border-left: 3px solid black
}
.back-content{
    transform: rotateY(180deg);
}